{
  parser: babel-eslint,
  env: {
    node: true
  },
  rules: {
    linebreak-style: 0,
    import/no-extraneous-dependencies: 0,
    import/no-unresolved: 0,
    import/extensions: 0,
    import/no-commonjs: 0,
    import/no-nodejs-modules: 0,
    no-console: 0,
    no-multi-spaces: 0,
    no-confusing-arrow: 0,
    func-style: 0,
    object-curly-spacing: [2, always],
    key-spacing: [2, {
      afterColon: true,
      mode      : minimum,
      align: {
        beforeColon: false,
        afterColon : true,
        on         : colon
      },
    }],
  },
  extends: nodejs
}
